<%
:sql = "SELECT  head_portrait FROM mooc_userprofile where email=?"
:x = changeRecordSet(:sql,S(:loginName))
debugMsg("-----x----"#:x)
%>
<span class="u-r-t-picin">
	<img src="/one/downloadFile.spe?dtype=PostgresXL&mode=html&fileid=<%=head_portrait%>">
</span>