<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/Scripts/StationJSLib.js">
    </script>
    <script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(f());
        function f () {
            loadFromWS("zyTest/zySqlRepeat.template","varList",);
        }
    </script>
</head>
<body id="downloadList">
<div id="varList"></div>
<p><%=:x%></p>
<p><%=loc%></p>
<p><%=s%></p>
<p><%=t%></p>
<a href="/Scripts/ViewerJS/#../pdf.pdf">viewer.js</a>
<iframe src="/Scripts/ViewerJS/#/word测试.odt" width="700" height="500" allowfullscreen="" webkitallowfullscreen=""></iframe>
</body>

</html>