<%If :op==10001%>
	<%:i=jsonAddItem("","op","10001")%>
	<%:i=jsonAddItem(:i,"uId","")%>
	<%:i=jsonAddItem(:i,"ack","0")%>
       ///<%=:i%><br>
	<%:k=jsonAddItem("","infoMessage","")%>
	<%:k=jsonAddArrayItem("",:k)%>
	<%:i=jsonAddItem(:i,"info",:k)%>
	<%=:i%>
<%EndIf%>

