<%If :operation=="getSomeFiles"
///当前目录，根据文件名检索，返回路径长度最短的那个
      :sql="select id,fullpath,file_id,dir_name,publisher,publish_date,description ,FOUND_ROWS from mooc_filespace where dir_name = ? ORDER BY fullpath ASC FETCH FIRST 1 ROWS ONLY"
      changeRecordSet(:sql,S(:fullpath))
      ///debugMsg(:fullpath#"=================")
      If :FOUND_ROWS != -1
        ///debugMsg(:fullpath#"=================")
        Exit(fullpath#";"#dir_name)
     EndIf
EndIf
%>





