///推荐课程

<%
:selectSql = "select id,title, content_text, on_top,publish_date,school, count, pic_id, course_start,course_end  from moocarticle where article_type=(select article_type from moocarticle where id= ? ) limit 3 offset 0"
changeRecordSet(:selectSql,S(:id));
debugMsg("-------------------------0---"#content_text)
:totalNumber = recordCount()
If :totalNumber >0
Repeat
%>



<%
EndRepeat
EndIf
%>